// Navigation Styles here


header{
    border-bottom:dashed @silver 2px;
}
nav{
    padding:1% 0;
    .flexBox(space-between, center);
    width:100%;

        @media @phone{
            flex-wrap: wrap;
            justify-content: space-around;
        }
    

       h1{
           width:48%;
           @media @phone{
               width:100%;
               text-align: center;
           }
       } 
        a{
            text-decoration: none;
            color:black;
            font-size:1.6rem;
        }
}

.welcome{
    border-bottom:dashed @silver 2px;
}

